@import "header.scss";

* {
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

.menu {
  display: flex;
  text-transform: uppercase;
  list-style-type: none;
  cursor: pointer;
  /*padding: 0;*/
  color: white;
  margin: 0 0 0 8px;
}

.menu__item {
  display: flex;
  padding: 0 8px 0 8px;
  height: 3em;
  list-style: none;
  position: relative;
  align-items: center;
}

.menu__item:hover {
  background-color: #9acd32;
}

.submenu {
  position: absolute;
  margin: 0 0 0 3em;
  top: 100%;
  display: none;
  list-style-type: none;
  padding: 0;
  background-color: #ff7f50;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  color: #fff;
  min-width: 120px;
  z-index: 1;
}

.submenu__item:hover {
  color: black;
}

.menu__item_active:hover .submenu {
  display: flex;
  flex-direction: column;
}

.menu__item_active {
  color: yellow;
}

/*.menu,
.submenu {
  margin: 0 0 0 3em;
}*/

/*.menu__item {
  padding: 0 8px 0 8px;
  height: 3em;
}*/

/*.submenu__item {
  padding: 0 8px 0 8px;
  height: 3em;
}*/
